USE [master]
GO
/****** Object:  Database [Wardrobe]    Script Date: 3/25/2018 7:53:15 PM ******/
CREATE DATABASE [Wardrobe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wardrobe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wardrobe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wardrobe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wardrobe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wardrobe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wardrobe]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 3/25/2018 7:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[AccessoryName] [nvarchar](100) NOT NULL,
	[AccessoryPhoto] [nvarchar](200) NOT NULL,
	[AcessoryColor] [nvarchar](100) NOT NULL,
	[AccessoryType] [nvarchar](100) NULL,
	[AccessoryOccasion] [nvarchar](100) NULL,
	[AccesorySeason] [nvarchar](100) NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bottom]    Script Date: 3/25/2018 7:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bottom](
	[BottomID] [int] IDENTITY(1,1) NOT NULL,
	[BottomName] [nvarchar](100) NOT NULL,
	[BottomPhoto] [nvarchar](200) NOT NULL,
	[BottomColor] [nvarchar](100) NOT NULL,
	[BottomSeason] [nvarchar](100) NULL,
	[BottomOccasion] [nvarchar](100) NULL,
	[BottomType] [nvarchar](100) NULL,
 CONSTRAINT [PK_Bottom] PRIMARY KEY CLUSTERED 
(
	[BottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Outfit]    Script Date: 3/25/2018 7:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outfit](
	[OutfitID] [int] IDENTITY(1,1) NOT NULL,
	[TopID] [int] NOT NULL,
	[BottomID] [int] NOT NULL,
	[ShoeID] [int] NOT NULL,
	[AccessoryID] [int] NOT NULL,
 CONSTRAINT [PK_Outfit] PRIMARY KEY CLUSTERED 
(
	[OutfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 3/25/2018 7:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeID] [int] IDENTITY(1,1) NOT NULL,
	[ShoeName] [nvarchar](100) NOT NULL,
	[ShoePhoto] [nvarchar](200) NOT NULL,
	[ShoeColor] [nvarchar](100) NOT NULL,
	[ShoeType] [nvarchar](100) NULL,
	[ShoeSeason] [nvarchar](100) NULL,
	[ShoeOccasion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Top]    Script Date: 3/25/2018 7:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Top](
	[TopID] [int] IDENTITY(1,1) NOT NULL,
	[TopName] [nvarchar](100) NOT NULL,
	[TopPhoto] [nvarchar](200) NOT NULL,
	[TopColor] [nvarchar](50) NOT NULL,
	[TopSeason] [nvarchar](100) NULL,
	[TopOccasion] [nvarchar](100) NULL,
	[TopType] [nvarchar](100) NULL,
 CONSTRAINT [PK_Top] PRIMARY KEY CLUSTERED 
(
	[TopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accessory] ON 

INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPhoto], [AcessoryColor], [AccessoryType], [AccessoryOccasion], [AccesorySeason]) VALUES (1, N'Black tie', N'\content\images\blacktie.jpg', N'Black', NULL, N'Formal', N'Any')
INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPhoto], [AcessoryColor], [AccessoryType], [AccessoryOccasion], [AccesorySeason]) VALUES (2, N'Samurai Sword', N'\content\images\sword.jpg', N'Silver', NULL, N'Any', N'Any')
INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPhoto], [AcessoryColor], [AccessoryType], [AccessoryOccasion], [AccesorySeason]) VALUES (3, N'Cigarette', N'\content\images\cigarette.jpg', N'White', NULL, N'Any', N'Any')
SET IDENTITY_INSERT [dbo].[Accessory] OFF
SET IDENTITY_INSERT [dbo].[Bottom] ON 

INSERT [dbo].[Bottom] ([BottomID], [BottomName], [BottomPhoto], [BottomColor], [BottomSeason], [BottomOccasion], [BottomType]) VALUES (1, N'Yellow Pants', N'\content\images\kbpants.jpg', N'Yellow', N'Any', N'Functional', NULL)
INSERT [dbo].[Bottom] ([BottomID], [BottomName], [BottomPhoto], [BottomColor], [BottomSeason], [BottomOccasion], [BottomType]) VALUES (2, N'Mens jeans', N'\content\images\mensjean.jpg', N'Denim', N'Any', N'Any', NULL)
INSERT [dbo].[Bottom] ([BottomID], [BottomName], [BottomPhoto], [BottomColor], [BottomSeason], [BottomOccasion], [BottomType]) VALUES (3, N'Blue running shorts', N'\content\images\blue shorts.jpg', N'Blue', N'Summer', N'Casual', NULL)
SET IDENTITY_INSERT [dbo].[Bottom] OFF
SET IDENTITY_INSERT [dbo].[Outfit] ON 

INSERT [dbo].[Outfit] ([OutfitID], [TopID], [BottomID], [ShoeID], [AccessoryID]) VALUES (4, 11, 1, 1, 2)
INSERT [dbo].[Outfit] ([OutfitID], [TopID], [BottomID], [ShoeID], [AccessoryID]) VALUES (5, 3, 4, 4, 5)
INSERT [dbo].[Outfit] ([OutfitID], [TopID], [BottomID], [ShoeID], [AccessoryID]) VALUES (6, 13, 3, 3, 4)
SET IDENTITY_INSERT [dbo].[Outfit] OFF
SET IDENTITY_INSERT [dbo].[Shoe] ON 

INSERT [dbo].[Shoe] ([ShoeID], [ShoeName], [ShoePhoto], [ShoeColor], [ShoeType], [ShoeSeason], [ShoeOccasion]) VALUES (1, N'Yellow Aasics', N'\content\images\KBshoe.jpg', N'Yellow', N'Athletic', N'Any', NULL)
INSERT [dbo].[Shoe] ([ShoeID], [ShoeName], [ShoePhoto], [ShoeColor], [ShoeType], [ShoeSeason], [ShoeOccasion]) VALUES (3, N'Mens white sneaker', N'\content\images\menswhiteshoe.jpg', N'White', N'Athletic', N'Any', N'Any')
INSERT [dbo].[Shoe] ([ShoeID], [ShoeName], [ShoePhoto], [ShoeColor], [ShoeType], [ShoeSeason], [ShoeOccasion]) VALUES (4, N'Black dress shoe', N'\content\images\blackshoe.jpg', N'Black', N'Dress', N'Any', N'Formal')
SET IDENTITY_INSERT [dbo].[Shoe] OFF
SET IDENTITY_INSERT [dbo].[Top] ON 

INSERT [dbo].[Top] ([TopID], [TopName], [TopPhoto], [TopColor], [TopSeason], [TopOccasion], [TopType]) VALUES (1, N'white dress shirt', N'\content\images\white_dress.jpg', N'White', NULL, N'Dress up', NULL)
INSERT [dbo].[Top] ([TopID], [TopName], [TopPhoto], [TopColor], [TopSeason], [TopOccasion], [TopType]) VALUES (3, N'Black suit coat', N'\content\images\blacksuit.jpg', N'Black', N'All', N'Formal', NULL)
INSERT [dbo].[Top] ([TopID], [TopName], [TopPhoto], [TopColor], [TopSeason], [TopOccasion], [TopType]) VALUES (11, N'Yellow Jacket', N'\content\images\kbjacket.jpg', N'Yellow', N'Any', N'Functional', NULL)
SET IDENTITY_INSERT [dbo].[Top] OFF
ALTER TABLE [dbo].[Outfit]  WITH CHECK ADD  CONSTRAINT [FK_Outfit_Accessory] FOREIGN KEY([AccessoryID])
REFERENCES [dbo].[Accessory] ([AccessoryID])
GO
ALTER TABLE [dbo].[Outfit] CHECK CONSTRAINT [FK_Outfit_Accessory]
GO
ALTER TABLE [dbo].[Outfit]  WITH CHECK ADD  CONSTRAINT [FK_Outfit_Bottom] FOREIGN KEY([BottomID])
REFERENCES [dbo].[Bottom] ([BottomID])
GO
ALTER TABLE [dbo].[Outfit] CHECK CONSTRAINT [FK_Outfit_Bottom]
GO
ALTER TABLE [dbo].[Outfit]  WITH CHECK ADD  CONSTRAINT [FK_Outfit_Shoe] FOREIGN KEY([ShoeID])
REFERENCES [dbo].[Shoe] ([ShoeID])
GO
ALTER TABLE [dbo].[Outfit] CHECK CONSTRAINT [FK_Outfit_Shoe]
GO
ALTER TABLE [dbo].[Outfit]  WITH CHECK ADD  CONSTRAINT [FK_Outfit_Top] FOREIGN KEY([TopID])
REFERENCES [dbo].[Top] ([TopID])
GO
ALTER TABLE [dbo].[Outfit] CHECK CONSTRAINT [FK_Outfit_Top]
GO
USE [master]
GO
