@{
    ViewBag.Title = "The ";
}
<script src="~/Content/Project10JavaScript.js"></script>

<link href="~/AboutStyle.css" rel="stylesheet" />



<div class="parallax"></div>

<div id="body">


    <h2>Select Item by Movie</h2>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')">All Movies</button>
        <button class="btn" onclick="filterSelection('PF')"> Pulp Fiction</button>
        <button class="btn" onclick="filterSelection('KB')"> Kill Bill</button>
        <button class="btn" onclick="filterSelection('DU')"> Django Unchained</button>
        <button class="btn" onclick="filterSelection('RD')"> Reservoir Dogs</button>
    </div>


    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF KB RD " id="whiteshirt">White Dress Shirt</div> <div class="overlay">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">This is a title</h3>
                    <p class="content-text">This is a short description</p>
                </div>
        </a>
    </div>
    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF KB RD" id="blackcoat">Black Suit Coat</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>
    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv KB" id="yellowjacket">Yellow Jacket</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>
    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF" id="suedejacket">Suede Jacket</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>
    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF" id="UCshirt">UC Santa Cruz</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>


    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF " id="whiteshirt">White T-Shirt</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>


    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv DU" id="bluesuit">Blue Suit</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv DU" id="blazer">Burgandy Blazer</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv KB" id="whitecoat">White Trench Coat</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv KB" id="nurse">Nurse Top</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>


    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv KB animals" id="yellowpants">Yellow Pants</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>



    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF RD" id="mensjeans">Mens Jeans</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF" id="blueshorts">Blue Running Shorts</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF RD" id="blackpants">Black Pants</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv KB" id="yellowshoe">Yellow Aasics</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF" id="whiteshoe">White Sneaker</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF RD KB" id="blackshoe">Black Dress Shoe</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv DU" id="boot">Boot</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF" id="nurseshoe">Nurses Shoe</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv PF RD" id="sunglasses">Sunglasses</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>
            <div class="filterDiv DU PF" id="bolo">Bolo Tie</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>             <div class="filterDiv KB" id="eyepatch">Eyepatch</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>         <div class="filterDiv DU" id="cowboyhat">Cowboy Hat</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div>     <div class="filterDiv KB" id="blacktie">Black Tie</div>
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div> <div class="filterDiv KB" id="sword"><img src="~/Content/images/sword.jpg" id="boximage" /></div><div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>

    <div class="content">
        <a>
            <div class="content-overlay"></div> <div class="filterDiv DU KB PF RD" id="cigarette">Cigarette</div><div class="content-details fadeIn-bottom">
                <h3 class="content-title">This is a title</h3>
                <p class="content-text">This is a short description</p>
            </div>
        </a>
    </div>





</div>


<div class="parallax"></div>




<script>
    filterSelection("all")
</script>
