
/*styling for the filter cards*/
.filterDiv {
    float: left;
    background-color: black;
    color: #ffffff;
    width: 150px;
    line-height: 150px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: flex;
}

.container {
    margin-top: 20px;
   
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

    .btn:hover {
        background-color: #ddd;
    }

    .btn.active {
        background-color: #666;
        color: white;
    }


/*styling for better overlay*/

.container {
    clear: both;
    margin: 0 auto;
    max-width: 1050px;
}

.filterDiv {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    float: left;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

    .filterDiv p {
        opacity: 0;
        transition: .2s;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 2;
        color: white;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        line-height: 200px;
        font-size:10px;
        display:flex;
        justify-content:center;
    }

    .filterDiv:after, .filterDiv:before {
        opacity: 0;
        transition: .2s;
        content: "";
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(90px) saturate(4);
        filter: blur(90px) saturate(4);
    }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .filterDiv:after, .filterDiv:before {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.filterDiv:hover p, .filterDiv:hover:after, .filterDiv:hover:before {
    opacity: 1;
}

.hover .filterDiv p, .hover .filterDiv:after, .hover .filterDiv:before {
    opacity: 1;
}

#whiteshirt {
    background-image: url('Content/images/MM325.jpg');
}
#blackcoat {
    background-image: url('Content/images/VVJW325.jpeg');
}
#yellowjacket {
    background-image: url('Content/images/KBjacket325.jpg');
}
#suedejacket {
    background-image: url('Content/images/butch325.jpg');
}
#UCshirt {
    background-image: url('Content/images/UC325.jpg');
}
#whiteshirt {
    background-image: url('Content/images/butcht325.jpg');
}
#bluesuit {
    background-image: url('Content/images/bluesuit.jpg');
}
#blazer {
    background-image: url('Content/images/leo325.jpg');
}
#whitecoat {
    background-image: url('Content/images/nurse325.gif');
}
#nurse {
    background-image: url('Content/images/nurse2325.jpg');
}
#yellowpants {
    background-image: url('Content/images/KBpant325.jpg');
}
#mensjeans {
    background-image: url('Content/images/butchjean325.jpg');
}
#blueshorts {
    background-image: url('Content/images/blue325.jpg');
}
#blackpants {
    background-image: url('Content/images/RD325.jpg');
}
#yellowshoe {
    background-image: url('Content/images/kb325.jpg');
}
#whiteshoe {
    background-image: url('Content/images/butchjean325.jpg');
}
#blackshoe {
}
# {
}
# {
}
# {
}
# {
}
# {
}
# {
}
# {
}
# {
}
# {
}